<!DOCTYPE html>
<html>
	<head>
		<title>Lista</title>
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="/static/favicon.png">
		<link rel="stylesheet" type="text/css" href="/static/pure-min.css">
		<style>
			html, body {
				background-color: #fff;
			}
		</style>
	</head>
	<body>
		<div class="pure-g">
			<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5">
				<h1>Usuários</h1>
				<table class="pure-table">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						{% for u in usuarios %} 
						<tr class="{% if loop.index % 2 == 0 %} pure-table-odd{% endif %}">
							<td>{{ u.id }}</td>
							<td>{{ u.nome }}</td>
							<td>{{ u.email }}</td>
						</tr>
						{% endfor %}
						{% if not usuarios %}
						<tr>
							<td colspan="3">Recarregue a página para cadastrar o primeiro usuário</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			<div class="pure-u-1-5"></div>
		</div>
	</body>
</html>
